body {
 
  background: 100% linear-gradient(#f7931a, #f7931a, #f7931a, #f7931a, #4b4b4b, #4b4b4b) !important;

}
.Datos {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat( auto-fill);
}
.Nosotros {

    display: grid;
    gap: 5rem;
    grid-template-columns: repeat( auto-fill, minmax(15rem));

}
.Formaparte {
    display: grid;
    gap: 40rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat( auto-fill, minmax(15rem));
}
section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu header header"
 "menu producto aside"
 "menu publicidad aside"
 "menu footer footer";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

h1 {
  /*selector*/
  /*propiedad : valor*/
  color: aquamarine;
}

.navbar-toggler {
  background-color: aquamarine;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: aquamarine;
}

.nav-link:active {
  color: seagreen;
}

.imagen {
  -webkit-transition: heirht 2s, width 2s;
  transition: heirht 2s, width 2s;
}

.imagen:hover {
  height: 300px;
  width: 300px;
}

/* ctrl + k + c*/
.btn1, .btn3 {
  background-color: #f7931a;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row;pordefecto esta en row */
  /* justify-content: flex-start; por defecto arriba a la izquierda*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.btn2, .btn4 {
  background-color: #c99d66;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row;pordefecto esta en row */
  /* justify-content: flex-start; por defecto arriba a la izquierda*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-decoration: none;
}

p {
  color: #4d4d4d;
}

section {
  background-color: transparent;
}

#Seccion1 {

  background: linear-gradient(#f7931a, #f7931a, #f7931a);
  color: aquamarine;
}

#Seccion2 {
  background: #c99d66;
  color: RGB(60, 60, 61);
}

.Subtitulo1 {
  color: #4d4d4d;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Subtitulo2 {
  color: aquamarine;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SubTitulo {
  text-align: center;
}

.ultimo {
  background: #c99d66, #c99d66, #4b4b4b;
}

#final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.btn1, .btn2, .btn3, .btn4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Indices a {
  list-style-position: none;
  color: goldenrod;
}

.boton {
  background-color: goldenrod;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.CTOINF {
  max-width: 80%;
  max-height: 40%;
}

.Datos {
  color: white;
}

.accordion .accordion-button {

  background: linear-gradient(#f7931a, #4b4b4b);
}

.accordion-button:hover {
  color: aquamarine;
}

/*# sourceMappingURL=style.css.map */